/* This is the code for importing the fonts */
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');
/* This is the code for the background color */
body {
    background-color: #EDE3D1;
    margin: 0;
    padding: 0;
}

/*Top Bar*/
.top-bar {
    display: grid;
    grid-auto-flow: column; /* Arranges items in columns, creates a single row */
    padding: 0.25rem 3.5rem; /*Adds padding around the .top-bar */
    justify-content: space-between;
    background-color: #4A2D2A;
    color: #EDE3D1;
    font-family: "Assistant", sans-serif; /* Custom font with fall back */
}

/*Logo and Menu*/
.menu img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 1rem;
}
.menu {
    background-color: #EDE3D1;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}
.menu ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 0.25rem;
}
.menu a {
    text-decoration: none;
    color: #4A2D2A;
    font-family: "Assistant", sans-serif;
}
.menu a:hover {
    text-decoration: underline;
}
ul .current {
    font-weight: bold;
    text-decoration: underline;
}
.menu input {
    background-color: #EDE3D1;
    border: none;
    color: grey;
    font-family: "Assistant", sans-serif;
    outline: none;
}
hr {
    margin-top: 0;
}

/* Hero Section*/

.hero {
   overflow: hidden;
    position: relative;

}

.hero img {

    width: 100%;
    max-height: 200vh;
    display: block;
    object-fit: cover;
    
}

.hero title{
   .hero-title {
    position: absolute;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.2); /* Slight transparent background */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
   }

/*Section Styles*/

