@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap'); /* Importing custom fonts from google fonts */

:root {
    --bg-color: #EDE3D1;
    --cream: #EDE3D1;
    --brown: #4A2D2A;
    --green: #7D8451;
    --orange: #CB6D51;
    --text: "Assistant", sans-serif;
    --title: "Montserrat Underline", sans-serif;
    --card-roast-text: grey;
    --card-bg: #fff;
    --card-title-text: #474747;
    --card-text: #8d8d8d;
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}
.top-bar {
    display: grid;
    grid-auto-flow: column; /* Arrange items in columns, creates a single row */
    padding: 0.25rem 3.5rem; /* Adds 1rem unit of padding around the .top-bar */
    justify-content: space-between;
    background-color: var(--brown);
    color: var(--bg-color);
    font-family: var(--text); /* Custom font with fall back */
}
.menu img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 25%;
    padding-top: 1rem;
    
}
.menu {
    background-color: var(--bg-color);
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
}
.menu ul {
    list-style-type: none;
    display: inline-flex;
    gap: 1.5rem;
    padding-top: 2rem;
    margin-bottom: 0.25rem;
}
.menu a {
    text-decoration: none;
    color: var(--brown);
    font-family: var(--text);
}
.menu a:hover {
    text-decoration: underline;
}
ul .current {
    font-weight: bold;
    text-decoration: underline;
}
.menu input {
    background-color: var(--bg-color);
    border: none;
    color: var(--card-roast-text);
    font-family: var(--text);
    outline: none;
}
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
hr {
    margin-top: 0;
}
h1 {
    font-family: var(--title);
    margin-left: 3rem;
    margin-top: -0.5rem;
    padding-top: 0;
    color: var(--brown);
    font-size: 6rem;
    font-weight: 500; 
}
.description {
    font-family: var(--text);
    margin-left: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: -6rem;
    color: var(--brown);
}

/* .sorting {
    margin-left: 3rem;
} */
.filters {
    margin-left: 3rem;
    display: inline-flex;
    gap: 1.5rem;
    font-family: var(--text);
    color: var(--brown);
}
.filters h5 {
    text-decoration: underline;
    font-family: var(--text);
    color: var(--green);
}
.categories {
    margin-left: 3rem;
    margin-top: -2rem;
    font-family: var(--text);
    color: var(--brown);
}
.categories input[type="checkbox"] {
    background-color: var(--bg-color);
    margin: 0;
    font: inherit;
    color: var(--brown);
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem currentColor;
    border-radius: 0.15rem;
    box-shadow: 0px 14px 32px rgba(0, 0, 0, 0.15);
}
.wrapper {
    display: flex;
    margin: 50px auto 50px 50px;
    border-radius: 7px;
    transform: scale(0.9);
    transform-origin: top left;
}
.product-img {
   float: left;
   height: 300px;
   width: 400px; 
   margin-left: 30px;
}
.product-img img {
    border-radius: 7px 0 0 7px;
}
.product-info {
    float: left;
    height: 300px;
    width: 400px;
    border-radius: 0 7px 7px 0;
    background-color: var(--card-bg);
}
.product-text {
    height: auto; /* Lets content define height */
    width: 327px; 
    padding-bottom: 20px;
    background-color: var(--card-bg);
    box-sizing: border-box;
}
.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 52px;
    font-size: 34px;
    color: var(--card-title-text);
}
.product-text h1,
.product-price-btn p {
    font-family: var(--title);
}
.product-text h2 {
    margin: 0 0 47px 38px;
    margin-bottom: 20px;
    font-size: 13px;
    font-family: var(--text);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--card-roast-text);
    letter-spacing: 0.2em;
}
.product-text p {
    height: 125px;
    margin: 5px 0 0 38px;
    font-family: var(--text);
    color: var(--card-text);
    line-height: 1.7em;
    font-size: 15px;
    overflow: hidden;
}
.product-price-btn {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 25px 0 5px;
    padding-top: 10px;
    
}
.product-price-btn p {
    margin: 0;
    font-family: var(--text);
    font-size: 28px;
    color: var(--orange);
}
.product-price-btn span {
    display: inline-block;
    height: 50px;
    font-family: var(--text);
    font-size: 34px;
}
.product-price-btn button {
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 60px;
    font-family: var(--text);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: var(--brown);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.product-price-btn button:hover {
    background-color: var(--green);
}